
.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapper {
    background-color: white;
    padding:  20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .logo {
        color: rgb(203 , 4 , 112);
        font-weight: bold;
        font-size: 24px;
    }
    .title {
        align-content: center;
        color: #1339b7;
        font-size: 18px;
        font-weight: bold;

    }
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom: 1px solid #a7bcff;
        
            &::placeholder {
                color: rgb(175,175,175);
            }
        }

        button {
            background-color: #a7bcff;
            color: white;
            padding: 10px;
            font-weight: bold;
            cursor: pointer;
        }
        lable {
            display: flex;
            align-items: center;
            gap: 10px;
            color: 12px;
            font-style: 12px;
            cursor: pointer;
        }
       
    }

    p{
        color: #5d5b8d;
        font-style: 12px;
        margin-top: 10px;
    }
    

}

